<body class="flex flex-col min-h-screen">
  <main class="flex-grow mb-24">
    <!-- メインコンテンツ -->
  </main>

  <footer id='footer' class='bg-gray-100 py-4'>
    <div class='max-w-7xl mx-auto px-4 text-center'>
      <%= link_to "プライバシーポリシー", privacy_path, class: "text-gray-600 hover:text-gray-800 px-4 py-2"%>
      <%= link_to "利用規約", terms_path, class: "text-gray-600 hover:text-gray-800 px-4 py-2"%> 
    </div>
  </footer>
</body>
