<div class="bg-white flex flex-col justify-between">
  <header class="h-16 bg-gray-100"></header>
  <!-- メインコンテンツ -->
  <div class="w-full text-white flex flex-col items-center justify-center h-[100vh] text-center">
    <!-- タイトル -->
    <div class="px-4">
      <%= image_tag "image.png" %>
      <p class="text-xl font-bold text-gray-700 my-10"></p>
    </div>
    <!-- ボタン -->
  </div>  
</div>
