<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードをリセットするためのリンクをお送りします。</p>
<p>以下をクリックして、新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
もし、心当たりがない場合はこのメールを無視してください。</p>
<p>パスワードは、上記のリンクにアクセスして新しいパスワードを作成するまで変更されません。</p>
